* {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(../images/Banner\ Image.png);
    
    height: 600px;
    width: 1320px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;

}

.banner h3 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: 'Merriweather', serif;

}

.banner p {
    color: #ffffff;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    font-family: 'Merriweather', serif;
}

.offer h3 {
    color: #ff0000;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0;
}

.offer h2 {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 48px;
}

.offer p {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
}

.offer div img {
    height: 500px;
    width: 803px;
    margin: auto;
    display: flex;
    margin-top: 48px;
    margin-bottom: 120px;
}

.party-section {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url(../images/Vectorrr.png);

    background-repeat: no-repeat;
    height: 600px;
    width: 1320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-size: cover;
    margin: auto;
    border-radius: 20px;



}

.party-section div h3 {

    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
}

.party-section div p {
    color: #ffffffcc;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding: 12px 0px;
    line-height: 1.5;
}

.party-section div button {
     color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    
}

.date-time {
    text-align: center;
    margin-top: 120px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
    margin: auto;
    height: 600px;
    width: 1320px;
    padding-top: 100px;
    margin-top: 120px;
    border-radius: 20px;
}

.date-time p {
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    font-family: 'Inter', sans-serif;
    padding-bottom: 15px;
}

.date-time p span {
    color: #ff0000;
}

.date-time button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 16px 32px;
    margin-top: 50px;
    background-color: #ff0000;
    border-radius: 8px;
    border-color: #ff0000;

}

.cooming-soon {
    display: flex;
    gap: 70px;
    height: 600px;
    width: 1320px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}


.cooming-soon .best-offer h3 {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-bottom: 12px;

}

.cooming-soon .best-offer h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    padding-bottom: 20px;
}

.cooming-soon .best-offer p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.cooming-soon .pic {
    height: 465px;
    width: 465px;
    border: 15px solid red;
    background-color: white;
    border-radius: 100%;
    display: flex;
    padding: 20px;

}

.comming-soon .pic img {
    height: 365px;
    width: 365px;
    border: 15px solid red;
    border-radius: 100%;


}

.cooming-soon .year h2 {
    color: #ff0000;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}

.cooming-soon .year p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    height: 96px;
    width: 276px;
    font-family: 'Inter', sans-serif;
}

.cooming-soon .year img {
    height: 140px;
    width: 140px;
    margin-top: 20px;
}

.discount {
    text-align: center;
    margin-top: 120px;
    width: 1320px;
    margin: auto;
    
}

.discount h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.discount h2 {
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 12px 0;
}

.discount h2 span {
    color: #ff0000;

}

.discount p {
    color: #07021199;

    font-size: 20px;
    font-weight: 500;
    margin: auto;
    font-family: 'Inter', sans-serif;
    margin-top: 28px;
}

.discount .girl{
    display: flex;
    justify-content: end;

}

.discount .girl .red-dress{
    position: relative;
    margin-top: 65px;
}

.discount .girl .red-dress .offer{
    margin-top: -350px;
    margin-left: -150px;
    position: absolute;
}

.discount .fire-flam{
    position: relative;
    margin-top: -2px;
    
}

.discount .fire-flam .gift{
    position: absolute;
    bottom: 0px;
    

}

.awesome {
    width: 1320px;
    margin: auto;
    margin-top: 120px;
}

.awesome h2 {
    color: #ff0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

.awesome h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.awesome p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
}

.awesome .awasome-pic {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.email {
    width: 1320px;
    background-color: #ff00000d;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 120px;
    text-align: center;
}

.email img {
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.email h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 32px;
    font-family: 'Merriweather', serif;
}

.email p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.email .form-chart {
    margin-top: 48px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.email .form-chart input {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 477px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.email .form-chart button {

    font-size: 20px;
    font-weight: 600;
    padding: 20px 56px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 0px 50px 50px 0px;
    font-family: 'Inter', sans-serif;
}

footer {
    background-color: #070211;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}

footer .footer-container{
    width: 1320px;
    margin: auto;

}

footer .foot-part {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding-top: 120px;
    padding-bottom: 50px;
    border-bottom: 0.0001px solid rgba(85, 77, 77, 0.3);
}

footer .foot-part .address h3 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px;

}

footer .foot-part .contact{
    margin-right: 20px;
    padding-right: 70px;

}

footer .foot-part .contact h3 {
    font-size: 24px;
    font-weight: 500;
}
footer .footer-container .foot-part .contact .number{
    display: flex;
    gap: 5px;
}

footer .footer-container .foot-part .contact .link{
    display: flex;
    gap: 5px;
    padding-top: 12px;
}

footer .footer-image {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    border-bottom: 0.0001px solid rgba(85, 77, 77, 0.3);
    padding-bottom: 48px;
    gap: 24px;
}

footer .last-part{
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

footer .last-part h3 {
    font-size: 24px;
    font-weight: 500;
}